<div class="flex flex-col justify-center py-12 select-none">

  <div>
    <%= link_to root_path do %>
      <%= cdn_image :logo, class: "mx-auto h-16" %>
    <% end %>
    <h2 class="mt-6 text-center text-2xl/9 font-bold text-primary">
      <%= t('instructions.title') %>
    </h2>
  </div>

  <div class="mt-10 mx-auto w-1/2">
    <div class="bg-background-raised px-6 py-12 shadow rounded-lg">

      <p class="text-center text-sm text-text-300">
        <%= t('instructions.description') %>
      </p>
    </div>

    <p class="mt-10 text-center text-sm/6">
      <%= link_to new_user_session_path, class: "text-secondary hover:text-secondary-hover" do %>
        <%= t('instructions.back_to_login') %>
      <% end %>
    </p>
  </div>

</div>