<div class="flex min-h-full flex-col justify-center py-12">
  <div>
    <%= link_to root_path do %>
      <%= cdn_image :logo_white, class: "mx-auto h-16 w-auto" %>
    <% end %>
    <h2 class="mt-6 text-center text-2xl/9 font-bold text-primary"><%= t('devise.registrations.sign_up') %></h2>
  </div>

  <div class="mt-10 mx-auto w-full max-w-md">
    <div class="bg-background-300 p-12 shadow rounded-lg">
       
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
        <div>
          <%= f.label :email, t('devise.registrations.email'), class: "block text-sm/6 font-medium" %>
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "w-full rounded-md bg-background-overlay px-3 py-1.5 outline outline-1 -outline-offset-1 outline-text-muted focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary" %>
          </div>
          <% if resource.errors[:email].any? %>
            <div class="mt-1 text-sm text-danger">
              <%= resource.errors.full_messages_for(:email).join(', ') %>
            </div>
          <% end %>
        </div>

        <div>
          <%= f.label :password, t('devise.registrations.password'), class: "block text-sm/6 font-medium" %>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "new-password", required: true, class: "w-full rounded-md bg-background-overlay px-3 py-1.5 outline outline-1 -outline-offset-1 outline-text-muted focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary" %>
          </div>
          <% if resource.errors[:password].any? %>
            <div class="mt-1 text-sm text-danger">
              <%= resource.errors.full_messages_for(:password).join(', ') %>
            </div>
          <% end %>
        </div>

        <div>
          <%= f.label :password_confirmation, t('devise.registrations.password_confirmation'), class: "block text-sm/6 font-medium" %>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "w-full rounded-md bg-background-overlay px-3 py-1.5 outline outline-1 -outline-offset-1 outline-text-muted focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-secondary" %>
          </div>
          <% if resource.errors[:password_confirmation].any? %>
            <div class="mt-1 text-sm text-danger">
              <%= resource.errors.full_messages_for(:password_confirmation).join(', ') %>
            </div>
          <% end %>
        </div>

        <div>
          <%= f.submit t('devise.registrations.sign_up_button'), class: "w-full rounded-md bg-primary px-3 py-1.5 text-sm/6 font-semibold shadow-sm hover:bg-primary-hover cursor-pointer" %>
        </div>
      <% end %>

      <div>
        <div class="relative mt-10">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-text-muted"></div>
          </div>
          <div class="relative flex justify-center text-sm/6 font-medium">
            <span class="bg-background-100 px-6 rounded text-center"><%= t('devise.registrations.or_continue_with') %></span>
          </div>
        </div>

        <div class="mt-6">
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: "flex w-full items-center justify-center gap-3 rounded-md bg-background-overlay px-3 py-2 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-500 hover:bg-gray-600 focus-visible:ring-transparent" do %>
            <%= cdn_image :google_icon, class: 'max-h-6' %>
            <span class="text-sm/6 font-semibold"><%= t('devise.providers.google') %></span>
          <% end %>
        </div>
      </div>

    </div>

     <p class="mt-10 text-center text-sm/6">
      <%= link_to new_user_session_path do %>
        <span><%= t('devise.registrations.already_have_account') %></span>
        <span class="font-semibold text-secondary hover:text-secondary-hover"><%= t('devise.registrations.sign_in') %></span>
      <% end %>
     </p>
  </div>

</div>