<div class="h-screen select-none">
  <header class="absolute inset-x-0 top-0 z-10 max-w-7xl mx-auto">
    <nav class="flex items-center justify-between pt-2 px-8" aria-label="Global">
      <%= link_to root_path, class: "p-4" do %>
        <%= cdn_image :logo_white, class: "h-16", alt: t("landing.company_name") %>
      <% end %>

      <%= link_to "#{t("landing.nav.login")} <span aria-hidden='true'>&rarr;</span>".html_safe, new_user_session_path, class: "text-sm font-semibold p-4" %>
    </nav>
  </header>

  <div class="relative isolate overflow-hidden h-full">
    <%= cdn_image :hero, class: "absolute inset-0 -z-10 size-full object-cover" %>
    <div class="absolute inset-x-0 -z-10 overflow-hidden blur-3xl -top-80">
      <div
        class="relative aspect-[1155/678] -translate-x-1/2 rotate-45 bg-gradient-to-tr from-secondary-300 to-primary-300 opacity-20 left-[calc(50%-30rem)] w-6xl"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>

    <div class="mx-auto h-full flex justify-center items-center">
      <div class="max-w-2xl">
        <div class="text-center">
          <h1 class="text-balance text-5xl font-semibold tracking-tight sm:text-7xl"><%= t("landing.hero.title") %></h1>
          <p class="mt-8 text-lg font-medium text-text-secondary sm:text-xl/8"><%= t("landing.hero.subtitle") %></p>
          <div class="mt-10 flex justify-center gap-x-2">
            <%= link_to t("landing.hero.cta.primary"), new_user_registration_path, class: "rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold shadow-sm hover:bg-primary-hover" %>
            <%= link_to "#{t("landing.nav.learn_more")} <span aria-hidden='true'>→</span>".html_safe, learn_more_path, class: "text-sm font-semibold px-3.5 py-2.5" %>
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>